/* 
  - Mobile: 375px
  - Desktop: 1440px
  200, 400, 600
*/

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 35px;
  font-weight: 200;
  color: var(--very-dark-blue);
}

h2 {
  font-weight: 600;
  color: var(--very-dark-blue);
}

p {
  font-weight: 400;
  color: var(--grayish-blue);
}

.App {
  min-height: 100vh;
  background-color: var(--very-light-gray);
  display: grid;
  grid-template-rows: auto auto;
  align-content: start;
}

.headerContainer {
  height: 310px;
  width: 540px;
  display: grid;
  text-align: center;
  justify-self: center;
  align-content:center;
}

.headerContainer h2 {
  font-size: 35px;
  margin: 0 0 15px 0;
}

.headerContainer h1, .headerContainer h2, .headerContainer p {
  letter-spacing: 0.5px;
}

.cardDisplayContainer {
  display: grid;
  grid-template: repeat(4, 130px) / repeat(3, 350px);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 60px;
}

.cardContainer {
  height: 250px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 18px 10px -5px rgba(70,122,255,0.12),
              10px 0 8px -8px rgba(70,122,255,0.12),
              -10px 0 8px -8px rgba(70,122,255,0.12);
  padding: 28px 30px;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.cardContainer:nth-of-type(1) {
  grid-area: 2 / 1 / span 1 / span 2;
  border-top: 5px solid var(--cyan);
}

.cardContainer:nth-of-type(2) {
  grid-area: 1 / 2 / span 1 / span 2;
  border-top: 5px solid var(--red);
}

.cardContainer:nth-of-type(3) {
  grid-area: 3 / 2 / span 1 / span 2;
  border-top: 5px solid var(--orange);
}

.cardContainer:nth-of-type(4) {
  grid-area: 2 / 3 / span 1 / span 2;
  border-top: 5px solid var(--blue);
}

.cardContainer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cardContainer p {
  font-size: 12px;
  line-height: 22px;
  width: 260px;
}

.cardContainer img {
  justify-self: right;
  align-self: end;
}

@media only screen and (max-width: 1200px) {
  .App {
    padding-left: 20px;
  }

  .cardDisplayContainer {
    grid: repeat(2, auto) / repeat(2, auto);
    padding-left: 0;
    padding-right: 20px;
    grid-row-gap: 30px;
  }
  
  .cardContainer:nth-of-type(1) {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .cardContainer:nth-of-type(2) {
    grid-area: 1 / 2 / span 1 / span 1;
  }
  
  .cardContainer:nth-of-type(3) {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .cardContainer:nth-of-type(4) {
    grid-area: 2 / 2 / span 1 / span 1;
  }
}

@media only screen and (max-width: 810px) {
  .App {
  }

  .cardDisplayContainer {
    grid: repeat(4, auto) / auto;
    padding-left: 20px;
    padding-right: 20px;
    grid-row-gap: 30px;
  }
  
  .cardContainer:nth-of-type(1) {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .cardContainer:nth-of-type(2) {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  
  .cardContainer:nth-of-type(3) {
    grid-area: 3 / 1 / span 1 / span 1;
  }

  .cardContainer:nth-of-type(4) {
    grid-area: 4 / 1 / span 1 / span 1;
  }
}

@media only screen and (max-width: 560px) {
  .App {
    padding-left: 0;
  }

  .headerContainer {
    width: 315px;
  }

  .headerContainer h1, .headerContainer h2 {
    font-size: 24px;
  }

  .cardContainer {
    height: 220px;
    width: 300px;
    padding: 20px 30px;
  }

  .cardContainer p {
    width: 235px;
  }
}
